# This is a default running config for 9pm.
#
# If you wish to have your own configuration you can copy this and modify
# the values as you see fit. Here's the order of precedence:
# 1) Your personal RC for all your project: ~/.9pm.rc
# 2) Default 9pm fallback (this file) .../9pm/etc/9pm.rc

# Default log base path
LOG_PATH: "~/.local/share/9pm/logs"