name: Unit Tests

on: [push, pull_request]

jobs:
  unit-tests:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.x'

    - name: Install pip
      run: |
        python -m pip install --upgrade pip

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y tcl tcllib expect
        pip install pyyaml

    - name: Run Unit Tests
      run: python3 9pm.py --option cmdl-supplied unit_tests/auto.yaml

    - name: Publish Test Result
      # Ensure this runs even if unit tests fails
      if: always()
      run: cat ~/9pm_log/last/result-gh.md >> $GITHUB_STEP_SUMMARY
